.SideNavWarpper{
    
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    border-radius: 1rem
    ;
    color: #888;
}
.menuCard{
    display: flex;
    gap: 1rem;
  
    margin-left: 0;
    font-size: 1.2rem;
    align-items: center;
    
}

.menuIcon{
    height: 3rem;
    width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
   color:#fff;
    border-radius: 50%;
}

.menuIcon{
    background-color: #F2F5F7;
    background: rgb(70,27,155);
background: linear-gradient(41deg, rgba(70,27,155,1) 31%, rgba(133,71,255,1) 73%);
}

@media screen and (max-width: 600px) {
    .SideNavWarpper{
        display: none;
    }
  
    
  }
  