.LoginDiv{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;

}

.LoginImage{
    height:120vh;
    width: 100%;
    background: rgb(70,27,155);
background: linear-gradient(41deg, rgba(70,27,155,1) 31%, rgba(133,71,255,1) 73%);
z-index: 1     ;
}

.LoginImage img{
    height: 100%;
    width: 100%;
}
@media screen and (max-width:600px) {
    .LoginImage{
        display: none;
    }
    .LoginDiv{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }


    
    
}