.Posts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.laodmorebutton

{height: 2em;
    width: 95%;
    outline:none;
    font-size: 1.1rem;
    margin: 1rem;
    color: white;
    font-weight: 700;
   border-radius: 0.5rem;
    border: none;
    background: rgb(45, 43, 48);}