.ViewProfilePage{
   
   width: 88%;
   z-index: 999;
   justify-content: center;
   display: flex;
   flex-direction: column;

}

.ViewProfile{
   position: relative;
   margin-top: 1rem;
   display: grid;
   grid-template-columns: 18rem 45rem 20rem;
   
   gap: 1rem;
}

.ViewProfile-center{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.topNavbar{
   padding: 0;
}

@media screen and (max-width:600px){
   .ViewProfile{
      display: flex;
      flex-direction: column;
   }
}