.ExploreWrapper {
 
  width: 100%;
  
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
}
.ProfileCardOther{
    

    display: flex;
    align-items: center;
    background-color: #F2F5F7;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    
   
}

.ProfileDP img{
    height: 3rem;
    width: 3rem;
    border-radius: 1rem;
    overflow: hidden;

}

.ProfileName{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1rem;
    font-size: 1.2rem;
}


.tags{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.tags b{
    color:#461b9b ;
}