*{
    background-color: #8547FF;
    background-color: #461b9b;
    background-color: #F2F5F7;
    background: rgb(70,27,155);
background: linear-gradient(41deg, rgba(70,27,155,1) 31%, rgba(133,71,255,1) 73%);
}